# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/node_modules
.pnp
.pnp.js
.yarn/
.hge_symlink_dir/

# Testing
/coverage
/.nyc_output

# Production
/build
/dist
/public

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and other
.vscode
.idea
.DS_Store
*.tsbuildinfo
